*  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      background-color: white;
      color: black;
      line-height: 1.6;
      color: #333;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

.values, .impact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-left: 4px solid var(--highlight);
}

.leader, .leader-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 1rem;
}


.leader img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
header {
    background-color: #263340;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    
  
}

header h1 {
      margin: 0;
      font-size: 2rem;
    }

:root {
    --primary: #2e5e35;
    --highlight: #88b04b;
    --bg: #f9f9f9;
    --text: #333;
}
  

.brand-section {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 1rem;
}

.brand-section img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #505152;
}

main {
    flex: 1;
    padding: 0rem 0;
    margin-bottom: 10px;

}

.mapa {
  margin-top: 25px;
  margin-bottom: 0px;
}
.mapa h2 {
  color: white;
  background-color: rgba(145, 150, 155, 0.651);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center; 
  font-style: normal;
  font-size: medium;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 3rem 1.5rem 1rem;
    font-size: 0.95rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1 1 220px;
}

.social-icons a {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #1a5c5e;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #bbbbbb;
}

/* General Reset */

.hero-panel {
    position: relative;
    overflow: hidden;
    height: 700px;
    width: 100%;
}

/* Esta clase envuelve el carrusel y ayuda con la estructura */
.hero-carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Contenedor de las imágenes */
.slides {
    position: relative;
    height: 100%;
}

/* Cada imagen del carrusel */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s;
}

/* Imagen visible */
.slide.active {
    opacity: 1;
}

/* Contenido sobre las imágenes */
.hero-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 6rem;
    border-radius: 1rem;
}


.card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    transition: transform 0.4s;

}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    position: relative;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-header-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(44, 62, 80, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.card-body h3 {
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.card-footer {
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
}

.card-footer button {
    background-color: rgb(29, 79, 104);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-footer button:hover {
    background-color: #197b6cc8;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-sm-12 {
    width: 100%;
    padding: 0 1rem;
}


form {
    width: 40%;
}

input, select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-confirmar {
    background-color: #27ae60;
    color: white;
}

.btn-cancelar {
    background-color: #e74c3c;
    color: white;
}

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sección */
.news-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 0%;
  background-color: #ffffffbb;
}

/* Tarjeta */
.news-card {
  background-color: rgba(212, 226, 238, 0.199);
  width: 300px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #2e2d2d62;
  font-family: 'Segoe UI', sans-serif;
  
}

/* Imagen circular */
.news-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -80px;
  background-color: white;
}
.news-card button{
    background-color: rgba(29, 79, 104, 0.493);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.news-card button:hover {
    background-color: #197b6cc8;
}
/* Títulos y textos */
.news-card h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #5a4e5d;
}

.subtitle {
  color: #7d6d83;
  font-size: 1rem;
  margin-bottom: 1rem;
}

hr {
  border: none;
  border-top: 1px dashed #ccc;
  margin: 1rem 0;
}

.news-text {
  font-size: 0.9rem;
  color: #5f5f5f;
  text-align: justify;
  line-height: 1.6;
}

.contenido p {
      padding: 10rem;
      max-width: 1000px;
      margin: auto;
      text-align: center;
    }

    .seccion {
      margin-bottom: 2rem;
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.6s ease;
    }

    .visible {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      color: black;
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    .equipo {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
    }

    .miembro {
      background: white;
      padding: 1rem;
      border-left: 4px solid var(--color-terciario);
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
    }

.media-text-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
input, select {
    width:100%;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}
input:focus, select:focus {
    outline: 1.5px solid #333;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

select {
    appearance: none;
}

div.select {
    position:relative;
}
div.select::after{
    content: '\2304';
    position: absolute;
    right: 0px;
    padding-right: 0.36rem;
    top:50%;
    z-index:99;
    transform: translateY(-75%);
    font-size: 1.5rem;
    color: #aaa;
}

button {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 5px #000;
}

button.btn-confirmar {
    background-color: #021775;
    color:#fff;
}

button.btn-cancelar {
    background-color: #660000;
    color:#fff;
}

/* historias de impacto */


.historiasdeimpacto1 {
  background-color: rgba(212, 226, 238, 0.199);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 0%;
}

.historiasdeimpacto2 {
  background-color: rgba(212, 226, 238, 0.199);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20;
  
}

.historias img {
  width: 50rem;
  height: auto;
  display: block;
}


.TextoHistoria {
  flex: 1;
  display: block;
  justify-content: center;  
  height: au;   
}


/* mision vision nosotros */

.mision-vision {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 20px;
  flex-wrap: wrap;
  background-image: url('img/coral.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.mision-vision::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* capa blanca suave */
  z-index: 0;
}

.bloque {
  position: relative;
  flex: 1;
  min-width: 280px;
  max-width: 500px;
  background-color: #f0d3d3;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.bloque h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.bloque p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Activación de animación */
.bloque.visible {
  opacity: 1;
  transform: translateY(0);
}



    /* nosotros */
    .intro {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
      align-items: center;
    }

    .intro img {
      max-width: 500px;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .intro-text {
      flex: 1;
      text-align: center;
      min-width: 300px;
    }
    .intro-textD {
      flex: 1;
      text-align: center;
      min-width: 300px;
    }

    .mision-vision {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 2rem;
      gap: 2rem;
    }

   .bloque-animado {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.bloque-animado.visible {
    opacity: 1;
    transform: translateY(0);
}

 /* donacion */
 
 .donacion-invitacion {
      background-color: #e6fff0;
      padding: 2rem;
      text-align: center;
      margin: 2rem auto;
      border-radius: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      max-width: 800px;
    }

    .donacion-invitacion h2 {
      color: #226644;
      margin-bottom: 1rem;
    }

    .donacion-invitacion p {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .donacion-invitacion a.btn-donar {
      background-color: #228855;
      color: white;
      padding: 0.8rem 1.5rem;
      text-decoration: none;
      font-weight: bold;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease;
    }

    .donacion-invitacion a.btn-donar:hover {
      background-color: #1c6e44;
    }



@media (max-width: 768px) {
    .hero-action {
        position: relative;
        max-width: 100%;
        transform: none;
        top: auto;
        left: auto;
        margin: 1rem;
    }
    
    nav ul {
        flex-direction: column;
        width: 100%;
    }

     .col-md-6 {
        width: 50%;
    }
    .news-card {
    width: 90%;
    }

     header h1 {
        font-size: 1.5rem;
      }

    .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 
}