/* Sección */
.cardnosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 0%;
  background-color: #ffffffbb;
}

/* Tarjeta */
.cards {
background-image: url('corales.jpg');
width: 300px;
padding: 1.5rem;
text-align: center;
border-radius: 8px;
box-shadow: 3px 3px 5px #2e2d2d62;
font-family: 'Segoe UI', sans-serif;
  
}

/* Imagen */
.card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -80px;
  background-color: white;
}


.cardText {
  font-size: 0.9rem;
  color: #5f5f5f;
  text-align: justify;
  line-height: 1.6;
}